body {
  font-family: "Oswald", "Noto Sans JP", sans-serif;
  background-color: #d1cbc3;
}
body.is-fixed {
  overflow: hidden;
}

.section {
  padding: 48px 0;
}
.section__inner {
  padding: 0 32px;
}
.section__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 32px;
  color: #e65b20;
  text-align: center;
}
.section__head-main {
  font-size: 40px;
  letter-spacing: 0.1em;
}
.section__head-main--l {
  color: #fff;
}
.section__head-sub {
  font-size: 11px;
}
.section__head-sub--l {
  color: #fff;
}
.section__lead-text {
  font-size: 16px;
  line-height: 1.6;
  color: #3e1300;
  text-align: center;
}
.section__contents {
  margin-top: 40px;
}

.individual {
  margin-top: 60px;
}
.individual__details {
  margin-top: 60px;
}
.individual__works {
  margin-top: 50px;
  padding: 25px 12px;
  border-radius: 20px;
  -webkit-box-shadow: 7px 10px #e65b20;
          box-shadow: 7px 10px #e65b20;
  background: #fff;
  text-align: center;
}
.individual__title {
  font-size: 18px;
  color: #e65b20;
}
.individual__text {
  color: #3e1300;
  font-size: 12px;
  margin-top: 20px;
}
.individual li {
  margin: 10px 0;
}

/*--------------------------------
//pc
--------------------------------*/
@media screen and (min-width:768px) {
  .section__head-main {
    font-size: 80px;
    letter-spacing: 0.1em;
  }
  .section__head-sub {
    font-size: 18px;
  }
  .section__lead-text {
    font-size: 22px;
  }
  .individual__works {
    margin-top: 110px;
    padding: 50px 22px;
  }
  .individual .individual__works:first-child {
    margin-top: 0px;
  }
  .individual__title {
    font-size: 22px;
  }
  .individual__text {
    font-size: 16px;
  }
}